/* Cancelado debido a que el azul claro de por defecto de bootstrap luce bien.
.btn-info.active, .btn-info:active, .open>.dropdown-toggle.btn-info {
    background-color: #093A6E;
    border-color: #000000;
}
.btn-info.active.focus, .btn-info.active:focus, .btn-info.active:hover, .btn-info:active.focus, .btn-info:active:focus, .btn-info:active:hover, .open>.dropdown-toggle.btn-info.focus, .open>.dropdown-toggle.btn-info:focus, .open>.dropdown-toggle.btn-info:hover {
	background-color: #093A6E;
    border-color: #000000;
}
.btn-primary:hover {
	color: #fff;
    background-color: #286090;
    border-color: #204d74;
    text-shadow: 2px 2px 1px #193C5B;
}
.btn-primary {
	color: #fff;
    background-color: #093A6E;
    border-color: #000000;
    box-shadow: inset 0px 0px 0.5vh black;
}
*/