.form-register {
	margin: 2vh;
}

div.lb_label {
	/* position: relative !important; */
	top: -44px !important;
	font-size: 11px;
	margin-left: 7px;
	color: gray;
	min-width: 15vw;
	text-shadow: 1px 1px 0px white;
}

.col-md-9 {
    width: 100%;
}

.btn-primar{
	color: #FFF !important;
	background-color: #E00000 !important;
	border-color: #B30101 !important;
	width: 40% !important;
	margin: center !important; 
}